Nama : Robiah Al Adawiyah

Nim : 2100015023

# **Struktur Data Tuple**

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
# contoh Tuple
T1 = (1,"dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
# menampilkan tipe struktur data
type(T1)

tuple

**Latihan 1**

In [ ]:
# Buatlah tuplemu sendiri
T3 = ("aku",3.5, False, 2+3j)
print(type(T3))
T3

<class 'tuple'>

('aku', 3.5, False, (2+3j))

**Sifat-Sifat Tupple**

In [ ]:
# Terurut/ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
# Tidak bisa diganti/Immutable
T1[1] = 'manusia'

TypeError: ignored

In [ ]:
# Dapat diindeks/Slicing
print("elemen kedua dari tuple T1 adalah: ", T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [ ]:
# Dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan Tuple**

In [ ]:
# Menggabungkan Tuple
T4 = T1 + T2
T4

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [ ]:
# Buatlah Tuple kedua lalu gabungkan tuple yang telah kamu buat

In [ ]:
T5 = (3.5, "kamu", True, 3)
T5

(3.5, 'kamu', True, 3)

In [ ]:
T6 = T3 + T5
T6

('aku', 3.5, False, (2+3j), 3.5, 'kamu', True, 3)